
@media (min-width:1281px){
    /*menu start*/
    .navigation > ul{
        margin:0;
        padding:0;
        height:500px;
        width:150px;
        /*flex:border-box;*/
        justify-content:left;
    }

    html{
        margin:0;
        padding:0;
    }

    .navigation li{
        list-style-type:none;
    }

    .navigation > ul > li{
        float:left;
        position:relative;
    }

    .submenu{
        color:black;
        display:none;
    }

    .navigation{
        width:100%;
        /*display:inline-block;*/
        background-color:red;
        position:fixed;
        margin-top:100px;
    }

    #autreC{
        padding-right:54px;
    }

    .navigation > ul::after{
        content:"";
        display:block;
        clear:both;
    }

    .navigation a{
        display:block;
        text-decoration:none;
        float:left;
        width:100%;
        height:30px;
        line-height:30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
        /*padding:-3px 10px;*/
        text-align:center;
    }

    .navigation > ul > li > a{
        padding:20px 15px;
        /*Couleur des liens*/
        color:white;
    }

    .navigation > ul > li:hover .submenu{
        display:block;
        position:absolute;

        /*Placement du sous menu*/
        top:0;
        right:150px;
        /*fin*/

        padding:0;
        z-index:5;
    }

    .submenu li{
        /* Changer la bordure en bas */
        border-bottom:1px solid white;
        float:left;
    }

    .submenu li a{
        padding:15px 30px;
        color:dimgray;
        width:270px;
    }

    .menu-catégorie .submenu a{
        /*Changer la couleur du text*/
        color:white;
        /*Fin*/
    }

    .menu-catégorie .submenu{
        /*Changer la couleur du fond*/
        background-color:plum;
        /*Fin*/
    }

    .navigation > ul > li:hover a{
        padding:15px 30px 20px 30px;
    }

    .navigation ul a{
        display:block;
    }

    body{
        display:grid;
        grid-template-columns:90% 10%;
        grid-template-rows:68px 224px 830px 200px 154px;
    }

    p{
        font-size:20px;
    }

    .menu{
        grid-column:2;
        grid-row-start:1;
        grid-row-end:5;
    }

    .titre, h2{
        text-align:center;
        color:white;
    }

    /*menu end*/
    .maquette{
        margin:70px auto;
        grid-row:3;
        display:grid;
        grid-template-columns:150px 150px;
        grid-template-rows:repeat(2, 400px);
        grid-row-gap:50px;
        grid-column-gap:25px;
    }

    .subdiv{
        width:150px;
        height:350px;
    }

    .subdiv > p{
        color:black;
        font-size:25px;

        z-index:25;
    }

    .subdiv > img{
        width:150px;
        height:300px;
        border:5px black solid;
        border-radius:20px;

    }

    #Df{
        grid-column:1;
        grid-row:1;
    }

    #Df > img:hover{
        transform:scale(2);
    }

    #Dl{
        grid-column:1;
        grid-row:2;
    }

    #Dl > img:hover{
        transform:scale(2);
    }

    #Ds{
        grid-column:2;
        grid-row:1;
        margin-bottom:15px;
    }

    #Ds > img:hover{
        transform:scale(2);
    }

    #Dt{
        grid-column:2;
        grid-row:2;
    }

    #Dt > img:hover{
        transform:scale(2);
    }

    .txtintro{
        grid-row:2;
        margin-bottom:15px;
    }

    .conc{
        margin-top:-180px;
        grid-row:7;
        /*margin-bottom:-180px;*/
    }

    .footer{
        background:red;
        width:100%;
        align-items:center;
        grid-row:8;
        grid-column-start:1;
        grid-column-end:3;
        justify-content:center;
        color:white;
        text-align:center;
    }

    .footer > p, .footer > ul{
        /*Changer la couleur de la police */
        color:white;
        text-decoration:none;
        list-style-type:none;
        /*fin*/
        margin-left:-150px;
    }

    .footer > ul{
        margin-left:-25px;
        margin-right:40px;

    }

    .footmenu > a{
        margin:15px;
        color:white;
        text-decoration:none;
        flex:inherit;
    }

    .contact{
        list-style:none;
        color:white;
    }

    .footmenu > p{
        margin-left:20px;
    }

    .contact > a{
        text-decoration:none;

    }

    .contact > a:hover{
        text-decoration:underline;
    }

    header{
        grid-column-start:1;
        grid-column-end:3;
        grid-row:1;
    }

    /*menu end*/
}


@media (min-width:1025px) and (max-width:1280px){
    /* Début  de déclaration du menu */
    .navigation > ul{
        margin:0;
        padding:0;
    }

    #allfilm{
        background-color:plum;
    }

    html{
        margin:0;
        padding:0;
    }

    .navigation li{
        list-style-type:none;
    }

    .navigation > ul > li{
        float:left;
        position:relative;
    }

    .submenu{
        color:black;
        display:none;
    }

    .navigation{
        width:100%;
        height:70px;

        background-color:red;
    }

    .navigation > ul::after{
        content:"";
        display:inline-block;
        clear:both;
    }

    .navigation a{
        display:flex;
        text-decoration:none;
        justify-content:center;
        width:100%;
        line-height:30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
        /*padding:-3px 10px;*/
        text-align:center;
    }

    .navigation > ul > li > a{
        padding:0 15px 20px 15px;
        margin-top:20px;
        /*Couleur des liens*/
        color:white;
    }

    .navigation > ul > li:hover .submenu{
        display:inline-block;
        position:absolute;

        /*Placement du sous menu*/
        top:70px;
        left:20px;
        /*fin*/

        padding:0;
        z-index:1000;
    }

    .submenu li{
        /* Changer la bordure en bas */
        border-bottom:1px solid white;
        float:left;
    }

    .submenu li a{
        /*padding:15px 30px;*/
        color:dimgray;
        width:270px;
    }

    .menu-catégorie .submenu a{
        /*Changer la couleur du text*/
        color:white;
        /*Fin*/
    }

    .menu-catégorie .submenu{
        /*Changer la couleur du fond*/
        background-color:plum;
        /*Fin*/
    }

    .navigation > ul > li:hover a{
        /*padding:15px 30px 20px 0px;*/
    }

    .navigation ul a{
        display:inline-block;
    }

    .titre, h2{
        text-align:center;
        color:white;
    }

    .maquette{
        margin:30px 35%;
        grid-row:3;
        display:grid;
        grid-template-columns:150px 150px;
        grid-template-rows:repeat(2, 400px);
        grid-row-gap:50px;
        grid-column-gap:25px;
    }

    .subdiv{
        width:150px;
        height:350px;
    }

    .subdiv > p{
        color:black;
        font-size:25px;

        z-index:25;
    }

    .subdiv > img{
        width:150px;
        height:300px;
        border:5px black solid;
        border-radius:20px;

    }

    #Df{
        grid-column:1;
        grid-row:1;
    }

    #Df > img:hover{
        transform:scale(2);
    }

    #Dl{
        grid-column:1;
        grid-row:2;
    }

    #Dl > img:hover{
        transform:scale(2);
    }

    #Ds{
        grid-column:2;
        grid-row:1;
        margin-bottom:15px;
    }

    #Ds > img:hover{
        transform:scale(2);
    }

    #Dt{
        grid-column:2;
        grid-row:2;
    }

    #Dt > img:hover{
        transform:scale(2);
    }

}


@media (min-width:768px) and (max-width:1024px){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    .text, .description{
        margin-left:45px;
    }

    .text:first-letter, .description:first-letter{
        margin-left:70px;
    }

    .subdiv > img{
        width:300px;
        height:400px;
        border:5px black solid;
        border-radius:20px;

    }

    .maquette{
        margin-left:450px;
    }

    .subdiv{
        width:300px;
        height:450px;
        margin-bottom:80px;
    }

    .subdiv > p{
        color:black;
        font-size:25px;

        z-index:25;
    }

    #Df{

    }

    #Df > img:hover{
        transform:scale(2);
    }

    #Dl{
    }

    #Dl > img:hover{
        transform:scale(2);
    }

    #Ds{
        margin-bottom:15px;
    }

    #Ds > img:hover{
        transform:scale(2);
    }

    #Dt{
    }

    #Dt > img:hover{
        transform:scale(2);
    }

}


@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    .text, .description{
        margin-left:45px;
    }

    .text:first-letter, .description:first-letter{
        margin-left:70px;
    }

    .subdiv > img{
        width:300px;
        height:400px;
        border:5px black solid;
        border-radius:20px;

    }

    .maquette{
        margin-left:450px;
    }

    .subdiv{
        width:300px;
        height:450px;
        margin-bottom:80px;
    }

    .subdiv > p{
        color:black;
        font-size:25px;

        z-index:25;
    }

    #Df{

    }

    #Df > img:hover{
        transform:scale(2);
    }

    #Dl{
    }

    #Dl > img:hover{
        transform:scale(2);
    }

    #Ds{
        margin-bottom:15px;
    }

    #Ds > img:hover{
        transform:scale(2);
    }

    #Dt{
    }

    #Dt > img:hover{
        transform:scale(2);
    }

}


@media (min-width:481px) and (max-width:767px){
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    .subdiv > img{
        width:300px;
        height:400px;
        border:5px black solid;
        border-radius:20px;

    }

    .subdiv{
        width:300px;
        height:450px;
        margin-bottom:80px;
    }

    .subdiv > p{
        color:black;
        font-size:25px;

        z-index:25;
    }

    #Ds{
        margin-bottom:15px;
    }

    /*menu end*/
}


@media (min-width:320px) and (max-width:480px){
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    .subdiv > img{
        width:300px;
        height:400px;
        border:5px black solid;
        border-radius:20px;

    }

    .subdiv{
        width:300px;
        height:450px;
        margin-bottom:80px;
    }

    .subdiv > p{
        color:black;
        font-size:25px;

        z-index:25;
    }


    #Ds{
        margin-bottom:15px;
    }

    /*menu end*/
}

/*Main*/

.footer{
    background:red;
    width:100%;
    align-items:center;
    justify-content:center;
    color:white;
    text-align:center;
}

.footer > p, .footer > ul{
    /*Changer la couleur de la police */
    color:white;
    text-decoration:none;
    list-style-type:none;
    /*fin*/
    margin-left:-150px;
}

.footer > ul{
    margin-left:-25px;
    margin-right:40px;

}

.footmenu > a{
    margin:15px;
    color:white;
    text-decoration:none;
    flex:inherit;
}

.contact{
    list-style:none;
    color:white;
}

.footmenu > p{
    margin-left:20px;
}

.contact > a{
    text-decoration:none;

}

.contact > a:hover{
    text-decoration:underline;
}

/*Main*/

/* Début  de déclaration du header */

header{
    /*Changer la couleur du fond*/
    background:seagreen;
    /*Fin*/
    /*Changer la couleur du text*/
    color:aqua;
    /*Fin*/
    /*Change for adjusting object*/
    padding:8px 0 8px 0;
    /*fin*/
    text-align:center;
}

.conc > p:first-letter, .txtintro > p:first-letter{
    margin-left:35px;
}

/* Fin  de déclaration du header */