body{
    font-family:"Segoe UI Symbol", serif;
    margin:0;
    padding:0;
}

/*Debut media queries*/

@media (min-width:1281px){
    /*menu start*/
    .navigation > ul{
        margin:0;
        padding:0;
        height:500px;
        width:150px;
        /*flex:border-box;*/
        justify-content:left;
    }

    html{
        margin:0;
        padding:0;
    }

    .navigation li{
        list-style-type:none;
    }

    .navigation > ul > li{
        float:left;
        position:relative;
    }

    .submenu{
        color:black;
        display:none;
    }

    .navigation{
        width:100%;
        /*display:inline-block;*/
        background-color:red;
        position:fixed;
        margin-top:100px;
    }

    #autreC{
        padding-right:54px;
    }

    .navigation > ul::after{
        content:"";
        display:block;
        clear:both;
    }

    .navigation a{
        display:block;
        text-decoration:none;
        float:left;
        width:100%;
        height:30px;
        line-height:30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
        /*padding:-3px 10px;*/
        text-align:center;
    }

    .navigation > ul > li > a{
        padding:20px 15px;
        /*Couleur des liens*/
        color:white;
    }

    .navigation > ul > li:hover .submenu{
        display:block;
        position:absolute;

        /*Placement du sous menu*/
        top:0;
        right:150px;
        /*fin*/

        padding:0;
        z-index:5;
    }

    .submenu li{
        /* Changer la bordure en bas */
        border-bottom:1px solid white;
        float:left;
    }

    .submenu li a{
        padding:15px 30px;
        color:dimgray;
        width:270px;
    }

    .menu-catégorie .submenu a{
        /*Changer la couleur du text*/
        color:white;
        /*Fin*/
    }

    .menu-catégorie .submenu{
        /*Changer la couleur du fond*/
        background-color:plum;
        /*Fin*/
    }

    .navigation > ul > li:hover a{
        padding:15px 30px 20px 30px;
    }

    .navigation ul a{
        display:block;
    }

    body{
        display:grid;
        grid-template-columns:90% 10%;
        grid-template-rows:90px 225px 600px 180px 140px;
    }

    .menu{
        grid-column:2;
        grid-row-start:1;
        grid-row-end:5;
    }

    .titre, h2{
        text-align:center;
        color:white;
    }

    /*menu end*/
    /*Diapo addaptation*/
    .description{
        grid-column:1;
        grid-row:2;
    }

    .c_slider{
        grid-row:3;
        grid-column:1;
        margin-left:auto;
        margin-right:auto;

    }

    .c_slider, .slider > figure > a > img{
        width:640px;
        height:540px;
    }

    /* Adaptation */
    .text{
        grid-row:4;
        grid-column:1;
    }

    footer{
        grid-column-start:1;
        grid-column-end:4;
    }

    header{
        /*Change for adjusting object*/
        margin:0 0 0 0;
        padding:8px 0 8px 0;
        /*fin*/
        grid-column-start:1;
        grid-column-end:3;
        grid-row:1;
    }

    .imgslide{
        width:640px;
        height:310px;
    }

    .footer{
        display:inline-flex;
    }

    .footer > p, .footer > ul{
        /*Changer la couleur de la police */
        color:white;
        text-decoration:none;
        list-style-type:none;
        /*fin*/
        margin-left:-150px;
    }

    .foottext{
        margin-top:-15px;
    }

    .c_slider{
        border:darkblue outset 4px;
        box-shadow:14px 20px 5px 0 rgba(0, 0, 0, 0.75);
        border-radius:32px 32px 32px 32px;
        margin-bottom:20px;
    }

    .description:first-letter, .text:first-letter{
        margin-left:35px;
    }

    .description, .text{
        margin-left:15px;
        margin-right:15px;
    }

}

@media (min-width:1025px) and (max-width:1280px){
    /* Début  de déclaration du menu */
    .navigation > ul{
        margin:0;
        padding:0;
    }

    html{
        margin:0;
        padding:0;
    }

    .navigation li{
        list-style-type:none;
    }

    .navigation > ul > li{
        float:left;
        position:relative;
    }

    .submenu{
        color:black;
        display:none;
    }

    .navigation{
        width:100%;
        height:70px;

        background-color:red;
    }

    .navigation > ul::after{
        content:"";
        display:inline-block;
        clear:both;
    }

    .navigation a{
        display:flex;
        text-decoration:none;
        justify-content:center;
        width:100%;
        line-height:30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
        /*padding:-3px 10px;*/
        text-align:center;
    }

    .navigation > ul > li > a{
        padding:0 15px 20px 15px;
        margin-top:20px;
        /*Couleur des liens*/
        color:white;
    }

    .navigation > ul > li:hover .submenu{
        display:inline-block;
        position:absolute;

        /*Placement du sous menu*/
        top:70px;
        left:20px;
        /*fin*/

        padding:0;
        z-index:1000;
    }

    .submenu li{
        /* Changer la bordure en bas */
        border-bottom:1px solid white;
        float:left;
    }

    .submenu li a{
        /*padding:15px 30px;*/
        color:dimgray;
        width:270px;
    }

    .menu-catégorie .submenu a{
        /*Changer la couleur du text*/
        color:white;
        /*Fin*/
    }

    .menu-catégorie .submenu{
        /*Changer la couleur du fond*/
        background-color:plum;
        /*Fin*/
    }

    .navigation > ul > li:hover a{
        /*padding:15px 30px 20px 0px;*/
    }

    .navigation ul a{
        display:inline-block;
    }

    .titre, h2{
        text-align:center;
        color:white;
    }

    /*menu end*/
    /*Diapo addaptation*/
    .c_slider{
        margin-left:auto;
        margin-right:auto;

    }

    .c_slider, .slider > figure > a > img{
        width:640px;
        height:540px;
    }

    header{
        /*Change for adjusting object*/
        margin:0 0 0 0;
        padding:8px 0 8px 0;
        /*fin*/
    }

    .imgslide{
        width:640px;
        height:310px;
    }

    .footer{
        display:inline-flex;
    }

    .footer > p, .footer > ul{
        /*Changer la couleur de la police */
        color:white;
        text-decoration:none;
        list-style-type:none;
        /*fin*/
        margin-left:-150px;
    }

    .foottext{
        margin-top:-15px;
    }

    .c_slider{
        border:darkblue outset 4px;
        box-shadow:14px 20px 5px 0 rgba(0, 0, 0, 0.75);
        border-radius:32px 32px 32px 32px;
        margin-bottom:20px;
    }

    .description:first-letter, .text:first-letter{
        margin-left:35px;
    }

    .description, .text{
        margin-left:15px;
        margin-right:15px;
    }

}

@media (min-width:768px) and (max-width:1024px){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/
    .c_slider, .imgslide{
        width:850px;
        height:750px;
    }

    .c_slider{
        border:solid black 12px;
        border-radius:50px 50px 50px 50px;
        padding:5px 0 0;
        margin-left:50px;
        box-shadow:18px 19px 5px 0 rgba(0, 0, 0, 0.75);
    }

    /*Footer début*/
    .footer{
        font-size:50px;
        display:inline-block;

    }

    .footer > nav{
        text-align:center;
        align-items:center;
    }

    .foottext{
        margin-top:-80px;
    }

    header{
        width:100%;
    }

    p{
        font-size:30px;
    }

    .text, .description{
        margin-left:45px;
    }

    .text:first-letter, .description:first-letter{
        margin-left:30px;
    }

}

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/

}

@media (min-width:481px) and (max-width:767px){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/
    /*Disarition diapo*/
    .c_slider{
        display:none;
    }
}

@media (min-width:320px) and (max-width:480px){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/
    /*Disarition diapo*/
    .c_slider{
        display:none;
    }

    /*fin*/
}

/* Fin media queries*/

/* Début e déclaration du footer */

.footer{
    background:red;
    width:100%;
    align-items:center;

    justify-content:center;
    color:white;
}

.footer > p, .footer > ul{
    /*Changer la couleur de la police */
    color:white;
    text-decoration:none;
    list-style-type:none;
    /*fin*/
    margin-left:-150px;
}

.footer > ul{
    margin-left:-25px;
    margin-right:40px;

}

.footmenu > a{
    margin:15px;
    color:white;
    text-decoration:none;
    flex:inherit;
}

.contact{
    list-style:none;
    color:white;
}

.footmenu > p{
    margin-left:20px;
}

.contact > a{
    text-decoration:none;

}

.contact > a:hover{
    text-decoration:underline;
}

/* Fin  de déclaration du footer */
/* Début  de déclaration du header */

header{
    /*Changer la couleur du fond*/
    background:seagreen;
    /*Fin*/
    /*Changer la couleur du text*/
    color:aqua;
    /*Fin*/
    /*Change for adjusting object*/
    padding:8px 0 8px 0;
    /*fin*/
    text-align:center;
}

/* Fin  de déclaration du header */

/* Début du diapo*/

.c_slider{
    position:relative;
    overflow:hidden;
}

.c_slider .slider{
    position:absolute;
    left:0;
    top:0;
    width:500%;
    height:310px;
}

figure{
    position:relative;
    display:inline-block;
    padding:0;
    margin:0;
}

@keyframes slider{
    0%, 20%, 100%{
        left:0
    }
    25%, 45%{
        left:-100%
    }
    50%, 70%{
        left:-200%
    }
    75%, 95%{
        left:-300%
    }
}

.slider{
    animation:slider 45s infinite;
}

/* Fin du diapo*/
