body{
    font-family:"Segoe UI Symbol", serif;
    margin:0;
    padding:0;
}

/* Début  de déclaration du menu */

.navigation > ul{
    margin:0;
    padding:0;
}

.navigation li{
    list-style-type:none;
}

.navigation > ul > li{
    float:left;
    position:relative;
}

.submenu{

    color:black;
    display:none;
}

.navigation{
    width:100%;
    background-color:red;
}

.navigation > ul::after{
    content:"";
    display:block;
    clear:both;
}

.navigation a{
    display:inline-block;
    text-decoration:none;
}

.navigation > ul > li > a{
    padding:20px 30px;
    /*Couleur des liens*/
    color:white;
}

.navigation > ul > li:hover .submenu{
    display:inline-block;
    position:absolute;

    /*Placement du sous menu*/
    top:60px;
    left:20px;
    /*fin*/

    padding:0;
    z-index:5000;
}

.submenu li{
    /* Changer la bordure en bas */
    border-bottom:1px solid white;
}

.submenu li a{
    padding:15px 30px;
    color:dimgray;
    width:270px;
}

#categorie #menucat:hover{
    display:inline-block;
}

.menu-catégorie .submenu a{
    /*Changer la couleur du text*/
    color:white;
    /*Fin*/
}

.menu-catégorie .submenu{
    /*Changer la couleur du fond*/
    background-color:plum;
    /*Fin*/
}

.navigation > ul > li:hover a{
    padding:15px 30px 20px 30px;
}

/* Fin  de déclaration du menu */

