header{
    color:black;
}

footer{
    color:black;
}

p{
    color:black;
}

.image{
    background-color: brown;
}

.trailer{
    background-color: aquamarine;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.pink{
    background-color: pink;
}

.blue{
    background-color: blue;
}

.white{
    background-color: white;
}
