#red{
    background:radial-gradient(circle at center, #E57373, #E53935, #B71C1C);
}

#black{
    background:radial-gradient(circle at center, #9E9E9E, #616161, #212121);
}

#pink{
    background:radial-gradient(circle at center, #F8BBD0, #F06292, #E91E63);
}

#blue{
    background:radial-gradient(circle at center, #7986CB, #3949AB, #1A237E);
}

#yellow{
    background:radial-gradient(circle at center, #FFEE58, #FDD835, #F57F17);
}