header{
    font-size: 4em;
    font-family: fantasy;
    color: black;
    align-content: center;
}

footer{
    color:black;
}

p{
    color:black;
}

.image{
    background-color: brown;
}

.trailer{
    background-color: aquamarine;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.pink{
    background-color: pink;
}

.blue{
    background-color: blue;
}

.white{
    background-color: white;
}
