/*MENU
    .menu -> div principale (a tout dedans)
        .navigation -> navigation principale nav (a tout dedans sauf sup)
            .menu-principale -> ul principale (a tout dedans sauf sup)
                .menu-catégorie -> li de toutes les catégorie comporte ul submenu
                    .submenu -> ul avec lien redirection
                    #catégie -> ul avec seulement les liens des catégorie
                .menu-film -> li de tout les film
                    .submenu -> ul avec lien redirection
                    #allfilm -> ul avec seulement les liens des films
                .menu-autre -> li avec toutes les liens vers les contact et a propos
                    .submenu -> ul avec lien redirection
                    #autreme -> ul avec seulement les liens des page annexe
*/
/*Debut media queries*/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width:1281px){
    /*menu start*/
    .navigation > ul{
        margin:0;
        padding:0;
        height:500px;
        width:150px;
        /*flex:border-box;*/
        justify-content:left;
    }

    html{
        margin:0;
        padding:0;
    }

    .navigation li{
        list-style-type:none;
    }

    .navigation > ul > li{
        float:left;
        position:relative;
    }

    .submenu{
        color:black;
        display:none;
    }

    .navigation{
        width:100%;
        /*display:inline-block;*/
        background-color:red;
        position:fixed;
        margin-top:100px;
    }

    #autreC{
        padding-right:54px;
    }

    .navigation > ul::after{
        content:"";
        display:block;
        clear:both;
    }

    .navigation a{
        display:block;
        text-decoration:none;
        float:left;
        width:100%;
        height:30px;
        line-height:30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
        /*padding:-3px 10px;*/
        text-align:center;
    }

    .navigation > ul > li > a{
        padding:20px 15px;
        /*Couleur des liens*/
        color:white;
    }

    .navigation > ul > li:hover .submenu{
        display:block;
        position:absolute;

        /*Placement du sous menu*/
        top:0;
        right:150px;
        /*fin*/

        padding:0;
        z-index:5;
    }

    .submenu li{
        /* Changer la bordure en bas */
        border-bottom:1px solid white;
        float:left;
    }

    .submenu li a{
        padding:15px 30px;
        color:dimgray;
        width:270px;
    }

    .menu-catégorie .submenu a{
        /*Changer la couleur du text*/
        color:white;
        /*Fin*/
    }

    .menu-catégorie .submenu{
        /*Changer la couleur du fond*/
        background-color:plum;
        /*Fin*/
    }

    .navigation > ul > li:hover a{
        padding:15px 30px 20px 30px;
    }

    .navigation ul a{
        display:block;
    }

    body{
        display:grid;
        grid-template-columns:90% 10%;
        grid-template-rows:repeat(5, 20%);
    }

    .menu{
        grid-column:2;
        grid-row-start:1;
        grid-row-end:5;
    }

    .titre, h2{
        text-align:center;
        color:white;
    }

    /*menu end*/
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px 150%
*/

@media (min-width:1025px) and (max-width:1280px){
    /* Début  de déclaration du menu */
    .navigation > ul{
        margin:0;
        padding:0;
    }

    html{
        margin:0;
        padding:0;
    }

    .navigation li{
        list-style-type:none;
    }

    .navigation > ul > li{
        float:left;
        position:relative;
    }

    .submenu{
        color:black;
        display:none;
    }

    .navigation{
        width:100%;
        height:70px;

        background-color:red;
    }

    .navigation > ul::after{
        content:"";
        display:inline-block;
        clear:both;
    }

    .navigation a{
        display:flex;
        text-decoration:none;
        justify-content:center;
        width:100%;
        line-height:30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
        /*padding:-3px 10px;*/
        text-align:center;
    }

    .navigation > ul > li > a{
        padding:0 15px 20px 15px;
        margin-top:20px;
        /*Couleur des liens*/
        color:white;
    }

    .navigation > ul > li:hover .submenu{
        display:inline-block;
        position:absolute;

        /*Placement du sous menu*/
        top:70px;
        left:20px;
        /*fin*/

        padding:0;
        z-index:1000;
    }

    .submenu li{
        /* Changer la bordure en bas */
        border-bottom:1px solid white;
        float:left;
    }

    .submenu li a{
        /*padding:15px 30px;*/
        color:dimgray;
        width:270px;
    }

    .menu-catégorie .submenu a{
        /*Changer la couleur du text*/
        color:white;
        /*Fin*/
    }

    .menu-catégorie .submenu{
        /*Changer la couleur du fond*/
        background-color:plum;
        /*Fin*/
    }

    .navigation > ul > li:hover a{
        /*padding:15px 30px 20px 0px;*/
    }

    .navigation ul a{
        display:inline-block;
    }

    .titre, h2{
        text-align:center;
        color:white;
    }

    /*Fin menu*/
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px 200%
*/

@media (min-width:768px) and (max-width:1024px){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px 300%
*/

@media (min-width:481px) and (max-width:767px){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  400%
*/

@media (min-width:320px) and (max-width:480px){
    /*menu start*/
    .menu-principale > li > h2{
        color:white;
        text-align:center;
    }

    .menu{
        display:inline-block;
        background:red;
        width:100%;
        font-size:50px;
    }

    .menu > .navigation > ul{
        list-style:none;
    }

    .menu-principale > li > a{
        text-decoration:none;
        color:white;
    }

    .menu-principale > li > a:hover{
        text-decoration:underline blue;
        color:blue;
    }

    .menu-principale{
        margin-left:50px;
    }

    .submenu > li{
        height:70px;
        background:white;
        border:black solid 2px;
        margin:15px 5px 5px -5px;
        padding-top:5px;
        width:500px;
        box-shadow:10px 8px 2px -6px rgba(0, 0, 0, 0.75);
        text-align:center;

    }

    .submenu > li:first-child{
        border-radius:16px 16px 0 0;
    }

    .submenu > li:last-child{
        border-radius:0 0 16px 16px;
    }

    .submenu > li > a{
        text-decoration:none;
        color:black;
        letter-spacing:1px;
        vertical-align:center;
    }

    .submenu > li > a:hover{
        text-decoration:underline red;
    }

    /*menu end*/
}